/* .carousel-control-next-icon {
  background-image: url("./imgs/next.png");
}

.carousel-control-prev-icon {
  background-image: url("./imgs/prev.png");
} */

/* .carousel-control-next,
.carousel-control-prev {
  margin-top: 5rem !important;
} */

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-item h3 {
  font-size: 20px;
  letter-spacing: 6px;
}

.announcement-card__link {
  margin-left: 3px;
}

.btn:focus {
  color: #0000fb;
}
