/**
 * Home
 */
#home {
  position: relative;
  padding-top: 53px;
  margin-bottom: 56px;
}

.what-is-it-row {
  height: calc((100vh - 89px) * 0.35);
}

.hair-row {
  height: calc((100vh - 89px) * 0.35);
}

.come-row,
.donate-row {
  height: calc((100vh - 89px) * 0.15);
}

.banner-col,
.center-col,
.right-col,
.left-col {
  height: 100%;
}

.center-col,
.right-col,
.left-col {
  border-bottom: 2px solid #ff381d;
}

.hair-row .center-col,
.hair-row .right-col,
.hair-row .left-col,
.mobile-a-row .center-col {
  border-bottom: none;
}

.md-bottom-row .center-col {
  border-bottom: none;
}

.banner-col {
  text-align: right;
}

.banner-img {
  width: auto;
  height: 100%;
}

.what-is-it-row .left-col {
  display: flex;
  align-items: flex-end;
}

.what-is-it {
  color: #ff381d;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0px;
  margin: 0;
  padding: 0.5rem 1rem 0 0;
  cursor: pointer;
}

.center-col {
  border-right: 2px solid #ff381d;
  border-left: 2px solid #ff381d;
}

.soma-letter-container {
  display: block;
  padding: 10px;
  height: 9vh;
}

.soma-letter {
  height: 100%;
}

.hair-row .left-col {
  text-align: center;
}

.hair-img {
  height: 100%;
  display: inline-block;
  padding-right: 10px;
}

.circle-img,
.stick-img {
  display: block;
}

.circle-img {
  width: 36px;
}

.stick-img {
  width: 90px;
  transform: translate(4vw, 3vh);
}

.heart-button {
  height: 100%;
  text-align: center;
  padding: 6px;
}

.heart-button img {
  width: auto;
  height: 75%;
  margin-right: 40%;
}

.heart-button-text {
  display: inline-block;
  margin-left: 20%;
  color: #ff381d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.heart-button-text, .what-is-it {
  margin-left: 20%;
}


.heart-button:hover,
.heart-button-text:hover {
  text-decoration: none;
}

.heart-button-come img {
  transform: scaleY(-1);
}

/**
 * Marquee
 */
.marquee {
  color: #ff381d;
  bottom: 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 5px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee .repeat {
  display: inline-block;
  animation: marquee 13s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*
 * Site description
 */

.site-description {
  background-color: #5caf9f;
  color: white;
  padding: 20px 40px;
  min-height: calc((100vh - 89px) * 0.35);
}

@media only screen and (max-width: 960px) {
  .what-is-it-row {
    height: calc((100vh - 89px) * 0.3);
  }

  .hair-row {
    height: calc((100vh - 89px) * 0.33);
  }

  .come-row,
  .donate-row,
  .mobile-a-row {
    height: calc((100vh - 89px) * 0.12);
  }

  .center-col {
    border-right: none;
    overflow: hidden;
  }

  .what-is-it {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .what-is-it-row {
    height: calc((100vh - 89px) * 0.28);
  }

  .hair-row {
    height: calc((100vh - 89px) * 0.3);
  }

  .come-row,
  .donate-row,
  .mobile-a-row {
    height: calc((100vh - 89px) * 0.11);
  }

  .center-col {
    border-right: none;
    overflow: hidden;
  }

  .heart-button img {
    margin-right: 15%;
  }

  .heart-button-text, .what-is-it {
    margin-left: 15%;
  }

}