.calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(120px, auto));
  grid-column-gap: 35px;
  padding-top: 20px;
  padding-left: 15px;
}

.calendar p {
  letter-spacing: 0px;
}
.calendar__slot_day_0 {
  grid-column: 7;
}

.calendar__slot_day_1 {
  grid-column: 1;
}

.calendar__slot_day_2 {
  grid-column: 2;
}

.calendar__slot_day_3 {
  grid-column: 3;
}

.calendar__slot_day_4 {
  grid-column: 4;
}

.calendar__slot_day_5 {
  grid-column: 5;
}

.calendar__slot_day_6 {
  grid-column: 6;
}

.calendar__slot_label {
  grid-row: 1;
}

.calendar__slot_morning {
  grid-row: 2;
}

.calendar__slot_day {
  grid-row: 3;
}

.calendar__slot_evening {
  grid-row: 4;
}

.calendar__dow_title {
  font-weight: normal;
  font-size: 1em;
}

.calendar__date {
  color: #f00;
  font-weight: bold;
}

.calendar__event {
  border-top: 1px solid black;
  padding-left: 15px;
  position: relative;
  margin-bottom: 35px;
}

.calendar__event:after {
  padding: 0;
  margin: 0;
  display: block;
  content: "";
  height: 79px;
  width: 1px;
  border-left: 1px solid black;
  position: absolute;
  top: -1px;
  left: -1px;
}

.calendar__slot_morning .calendar__event:first-child {
  border-top: 2px solid #f00;
}

.calendar__slot_morning .calendar__event:first-child:after {
  border-left: 2px solid #f00;
  top: -2px;
}

.calendar__event-description-title,
.calendar__event-title {
  font-weight: bold;
  font-size: 1em;
}

.calendar__event-title {
  font-weight: bold;
  font-size: 1em;
  height: 6em;
  overflow: hidden;
  line-height: 1.4;
  margin-top: 10px;
  cursor: pointer;
}

.calendar__event-title:hover {
  color: #19cbfa;
}

.calendar__event-time {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: rotate(-90deg) translate(-13px, -53px);
  transform: rotate(-90deg) translate(-13px, -53px);
  margin: 15px 0px;
}

.calendar__event-description_hidden {
  display: none;
}

.calendar__event-description {
  position: absolute;
  background-color: #19cbfa;
  width: 200px;
  top: -2px;
  left: -1px;
  z-index: 2;
  padding: 15px 20px;
  margin-bottom: 10px;
  white-space: pre-line;
}

.calendar__event-description-title {
  color: white;
  margin-top: 5px;
}

.calendar__event-time_em {
  color: #19cbfa;
}

.calendar__event-description-text {
  font-size: 0.9em;
  line-height: 1.6;
}

.calendar__event-description-text a {
  color: white;
}

.calendar__close-event-descr-btn {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  position: absolute;
  right: 8px;
  top: 4px;
  cursor: pointer;
}

.calendar__week-switcher > * {
  display: inline-block;
}

.calendar__week-title {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: #f00;
  margin-left: 10px;
}

.calendar__week-switcher-button {
  border: none;
  outline: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 1.4em;
  color: black;
  background-color: rgba(0, 0, 0, 0);
}

.calendar__week-switcher-button:hover {
  background-color: lightgrey;
}

.google-cal-link a {
  color: #555555;
}

.google-cal-link a:visited {
  color: #858585;
}

.fb-link {
  color: white;
  font-weight: bold;
  padding-left: 4px;
}

.loading-error,
.epic-fail-error {
  font-size: 1.2em;
  color: grey;
}

@media (max-width: 576px) {
  .calendar {
    grid-template-columns: minmax(120px, auto);
  }
  .calendar__slot_day_0.calendar__slot_label {
    grid-column: 1;
    grid-row: 29;
  }
  .calendar__slot_day_1.calendar__slot_label {
    grid-column: 1;
    grid-row: 5;
  }
  .calendar__slot_day_2.calendar__slot_label {
    grid-column: 1;
    grid-row: 9;
  }
  .calendar__slot_day_3.calendar__slot_label {
    grid-column: 1;
    grid-row: 13;
  }
  .calendar__slot_day_4.calendar__slot_label {
    grid-column: 1;
    grid-row: 17;
  }
  .calendar__slot_day_5.calendar__slot_label {
    grid-column: 1;
    grid-row: 21;
  }
  .calendar__slot_day_6.calendar__slot_label {
    grid-column: 1;
    grid-row: 25;
  }
  .calendar__slot_day_0.calendar__slot_morning {
    grid-column: 1;
    grid-row: 30;
  }
  .calendar__slot_day_1.calendar__slot_morning {
    grid-column: 1;
    grid-row: 6;
  }
  .calendar__slot_day_2.calendar__slot_morning {
    grid-column: 1;
    grid-row: 10;
  }
  .calendar__slot_day_3.calendar__slot_morning {
    grid-column: 1;
    grid-row: 14;
  }
  .calendar__slot_day_4.calendar__slot_morning {
    grid-column: 1;
    grid-row: 18;
  }
  .calendar__slot_day_5.calendar__slot_morning {
    grid-column: 1;
    grid-row: 22;
  }
  .calendar__slot_day_6.calendar__slot_morning {
    grid-column: 1;
    grid-row: 26;
  }
  .calendar__slot_day_0.calendar__slot_day {
    grid-column: 1;
    grid-row: 31;
  }
  .calendar__slot_day_1.calendar__slot_day {
    grid-column: 1;
    grid-row: 7;
  }
  .calendar__slot_day_2.calendar__slot_day {
    grid-column: 1;
    grid-row: 11;
  }
  .calendar__slot_day_3.calendar__slot_day {
    grid-column: 1;
    grid-row: 15;
  }
  .calendar__slot_day_4.calendar__slot_day {
    grid-column: 1;
    grid-row: 19;
  }
  .calendar__slot_day_5.calendar__slot_day {
    grid-column: 1;
    grid-row: 23;
  }
  .calendar__slot_day_6.calendar__slot_day {
    grid-column: 1;
    grid-row: 27;
  }
  .calendar__slot_day_0.calendar__slot_evening {
    grid-column: 1;
    grid-row: 32;
  }
  .calendar__slot_day_1.calendar__slot_evening {
    grid-column: 1;
    grid-row: 8;
  }
  .calendar__slot_day_2.calendar__slot_evening {
    grid-column: 1;
    grid-row: 12;
  }
  .calendar__slot_day_3.calendar__slot_evening {
    grid-column: 1;
    grid-row: 16;
  }
  .calendar__slot_day_4.calendar__slot_evening {
    grid-column: 1;
    grid-row: 20;
  }
  .calendar__slot_day_5.calendar__slot_evening {
    grid-column: 1;
    grid-row: 24;
  }
  .calendar__slot_day_6.calendar__slot_evening {
    grid-column: 1;
    grid-row: 28;
  }
  .calendar__event-title {
    height: 4em;
  }

  .calendar__week-switcher {
    position: -webkit-sticky;
    position: sticky;
    top: 54px;
    padding: 0 0 10px 20px;
    background-color: white;
    z-index: 2;
    transform: translate(-10px, 0px);
    width: calc(100vw - 50px);
  }
  .calendar__event-description {
    width: calc(100% - 20px);
  }
}
