/**
 * Font
 */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap&subset=cyrillic");

::selection {
  background: rgba(0, 0, 251, 0.99);
  color: #ffffff;
}

/**
 * Normalize
 */
body {
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
}

a:hover,
a:focus {
  color: #0000fb;
}

.title {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 8px;
}

h4.title {
  font-size: 16px;
}

h4.title::before {
  content: "/";
}

p {
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.5;
}

.hide {
  display: none;
}

/* Text meant only for screen readers. */
/* todo test with screen reader */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/**
 * Entry header
 */
.entry-header {
  overflow-x: auto;
  overflow-y: hidden;
  width: 50%;
  border: 2px solid red;
  margin-bottom: 50px;
}

@media (max-width: 576px) {
  .entry-header {
    width: 95%;
  }
}
.entry-header .entry-title {
  margin-left: 17px;
  margin-bottom: -0.1rem;
  margin-right: -1px;
  padding-left: 10px;
  padding-bottom: 0px;
  color: white;
  background-color: red;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 24px;
  width: calc(100% - 17px);
}

/**
 * Entry content
 */

.entry-content p > a {
  color: #ef4123;
  text-decoration: underline;
}

.entry-content p > a:hover,
.entry-content p > a:focus {
  text-decoration: none;
}

/**
 * Buttons
 */

.btn-outline-primary {
  color: #ef4123;
  border-color: #ef4123;
}

.btn {
  position: relative;
  padding-right: 15%;
  border-radius: 0;
  letter-spacing: 8px;
  font-weight: bold;
  text-decoration: none !important;
  z-index: 2;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #ef4123;
  border-color: #ef4123;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #ef4123;
  border-color: #ef4123;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem #ef4123;
}
